<div class="container">
	<h2>Title</h2>
	<form action="/new" method="post">  
	  <input type="text" name="title"><br>
	  <h3>Description:</h3>   	
	  <textarea name="description" cols="40" rows="5"></textarea>
	  <br />
	  <input type="submit" value="Submit">  
	</form>  
</div>