<div class="container">
	<h2>New Post</h2>
	<h3>Title</h3>
	<form action="/category/<%= @category.id %>/post/new" method="post">  
	  <input type="text" name="title"><br />
	  <h3>Description:</h3>  
	  <textarea name="description" cols="40" rows="5"></textarea>
	  <br />
	  <h3>Price:</h3>
	  <input type="text" name="price"><br />
	  <h3>Email:</h3>
	  <input type="text" name="email"><br />
	  <input type="submit" value="Submit">  
	</form>  
</div>