<div class="container">
	<h3>Title</h3><br />
	<%= @post.title if @post %><br />
  <h3>Description:</h3><br />  
  <%= @post.description if @post%><br />
  <h3>Price:</h3><br />  
  <p>$<%= @post.price if @post%></p><br />
  <h3>Email:</h3><br />  
  <%= @post.email if @post%><br />
</div>